body {
    background: #789DBC;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.movie-carousel {
    display: flex;
    gap: 30px;
    width: 800px; 
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCarousel 15s infinite linear; 
    margin: 60px auto; 
    transform-origin: center; 
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.movie {
    position: absolute;
    width: 250px; 
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(190, 176, 176, 0.3);
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    justify-content: center;
    justify-items: center;
    align-items: center;
  
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 10px;
}

.movie:nth-child(1) { transform: rotateY(0deg) translateZ(300px); }
.movie:nth-child(2) { transform: rotateY(72deg) translateZ(300px); }
.movie:nth-child(3) { transform: rotateY(144deg) translateZ(300px); }
.movie:nth-child(4) { transform: rotateY(216deg) translateZ(300px); }
.movie:nth-child(5) { transform: rotateY(288deg) translateZ(300px); }

@keyframes rotateCarousel {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}


.pricing-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
    padding: 20px; 
    margin-top: 50px;
    width: 100%; 
    max-width: 1200px; 
    margin: 50px auto; 
}

.pricing-plan {
    width: 250px; 
    height: 350px; 
    padding: 20px;
    text-align: center;
    background-color: #FFE3E3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 10px; 
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.pricing-plan:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px #142d4c;
    background-color: #C9E9D2;
}

.plan-title {
    font-size: 1.5em;
    margin: 15px 0;
    font-weight: bold;
    color: #142d4c;
}

.plan-price {
    font-size: 1.25em;
    font-weight: bold;
    color: #0770f1;
    margin: 10px 0 35px 0; 
}

.plan-features {
    list-style-type: disc; 
    padding-left: 20px; 
    margin: 0;
    margin-bottom: 30px;
    color: #142d4c;
    font-weight: bolder;
    text-align: left; 
}

.plan-features li {
    margin: 10px 0;
    font-size: 0.9em;
}

.plan-button {
    background-color: #142d4c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plan-button:hover {
    background-color: #1df31dc2;
    text-decoration: underline;

}

@media (max-width: 1024px) {
    .movie-carousel {
        width: 90%; 
        height: 300px;
        margin-bottom: 170px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 800px) {
    .movie-carousel {
        width: auto; 
        top: 100px;
        height: 150px;
        margin-bottom: 150px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .pricing-plan {
        width: 200px; 
        margin-top: 100px;
        height: 400px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 480px) {
    .movie-carousel {
        width: 100px; 
        height: 100px;
        top: 100px;
        margin-bottom: 150px;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .pricing-plan {
        margin-top: 50px;
        height: auto;
        width: 250px; 
        padding: 20px;
        margin-right: 50px;
        margin-left: 50px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        
    }
    .plan-title {
        font-size: 1.3em;
    }
    .plan-price {
        font-size: 1em;
    }
    .plan-features li {
        font-size: 0.8em;
    }
}
